/* Body styling */
body {
    display: flex;
    flex-direction: column;
    align-items :center ;
    font-family: sans-serif;
    margin:0;
    
}

/* Hero section styling */
.hero {
    display: flex;
    text-align: center;
    max-width: 600px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
  
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #444;
}

.hero p {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 20px;
}

.scoreBox{
    display: flex;
    margin: 20px;
}

.Score {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    min-width: 80px;
    max-width: 80px;
    margin: 10px;
}

/*Action section styling */

.Action {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 600px;
}

.imgbox{
    animation: bounce 1s infinite;
    display: inline-block; /* or flex depending on layout needs */
  }

  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  

#mirror {
    transform: scaleX(-1);
}

/* Button section styling */

.playBox {
    display: flex;
    color: black;
    flex-direction: column;
    padding: 40px;
   }
.buttonbox {
    display: flex;
    color: black;
    justify-content: center;
    padding: 40px;
    max-width: 600px;
}
.playBox button{

    padding: 10px 40px; /* Padding inside the button */
    border: none; /* Remove default border */
    border-radius: 20px; /* Round corners */
    font-size: 16px; /* Text size */
    font-weight: bold; /* Bold text */
    color: #333; /* Text color */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
    margin:30px; /* Space between buttons */
}

.buttonbox button {
    padding: 10px 40px; /* Padding inside the button */
    border: none; /* Remove default border */
    border-radius: 20px; /* Round corners */
    font-size: 16px; /* Text size */
    font-weight: bold; /* Bold text */
    color: #333; /* Text color */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
    margin:30px; /* Space between buttons */
}

.Rockbutton {
    background-color: #eeeeee; /* Light pink */
}

.Paperbutton {
    background-color: #eeeeee; /* Light blue */
}

.Scissorsbutton {
    background-color: #eeeeee; /* Light green */
}

/* Hover effect */
button:hover {
    background-color: #f0f0f0; /* Light gray on hover */
    transform: scale(1.05); /* Slightly enlarge the button */
}

/* Active (click) effect */
button:active {
    transform: scale(0.95); /* Slightly shrink the button */
}

/*Score box 